<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>SeaBattles</title>
		<link rel="stylesheet" th:href="@{/styles.css}"/>
  </head>
  <body>
    <header>
      <div id="tablerefs">
        <h1>Sea Battles</h1>
        <form th:action="@{/battles}"><button>Battles</button></form>
        <form th:action="@{/warships}"><button>Warships</button></form>
        <form th:action="@{/battle_members}"><button>Battle members</button></form>
      </div>
    </header>
    <form th:object="${newBattleMember}" method="POST" th:action="@{/battle_members/save}" enctype="multipart/form-data">
      <h2>Add new battle member</h2>
      <fieldset>
        <legend>New battle member</legend>
				<div>
          <label for="genre">Battle</label>
          <select th:field="*{battle}" id="genre">
            <option th:each="battle : ${allBattles}" th:value="${battle.id}" th:text="${battle.name}"></option>
          </select>
        </div>
				<div class="validation_error" th:if="${#fields.hasErrors('battle')}" th:errors="*{battle}"></div>
					
        <div>
          <label for="member">Member</label>
          <select th:field="*{member}" id="genre">
            <option th:each="warship : ${warships}" th:value="${warship.id}" th:text="${warship.name}"></option>
          </select>
        </div>
				<div class="validation_error" th:if="${#fields.hasErrors('member')}" th:errors="*{member}"></div>
        <div>
          <label for="result date">Result</label>
					<input id="result" type="text" th:field="*{result}"/>
        </div>
				<div class="validation_error" th:if="${#fields.hasErrors('result')}" th:errors="*{result}"></div>

        <div class="submit">
          <button type="submit" name="save">Save</button>
        </div>
      </fieldset>
		</form>

    <div class="itemlist">
      <h2>Battle members</h2> 
      <table>
        <thead>
          <tr>
            <th>Battle name</th>
            <th>Warship</th>
            <th>Result</th>
						<th>Operations</th>
					</tr>
        </thead>
        <tbody>
          <tr th:each="battleMember : ${battleMembers}">
						<td th:text="${battleMember.battle.name}"> </td>
            <td th:text="${battleMember.member.name}"></td>
						<td th:text="${battleMember.result}"></td>
						<td>
							<a th:href="@{'/battle_members/delete/' + ${battleMember.id}}">Delete</a>
							<a th:href="@{'/battle_members/edit/' + ${battleMember.id}}">Edit</a>
						</td>
					</tr>
        </tbody>
      </table>
    </div>
  </body>
</html>

