<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Main</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
  </head>
  <body>
    <header>
      <div>
        <img alt="Bookshelf logo" th:src="@{/images/books2.jpg}"/>
      </div>
      <div id="bookshelf">
        <h1>BOOKSHELF</h1>
        <form th:action="@{/books}"><button>Books</button></form>
        <form th:action="@{/authors}"><button>Authors</button></form>
        <form th:action="@{/genres}"><button>Genres</button></form>
      </div>
    </header>
    <form th:object="${new_book}" method="POST" th:action="@{/books/upload}" enctype="multipart/form-data">
      <h2>Add new book</h2>
      <fieldset>
        <legend>New book</legend>
        <div>
          <label for="title">Title</label>
          <input id="title" type="text" th:field="*{title}"/>
        </div>
        <div class="validation_error" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
        <div>
          <label for="new_photo">Photo</label>
          <input type="file" id="new_photo" accept="images/*" th:name="new_photo"></input>
        </div>
        <div>
          <label for="genre">Genres</label>
          <select th:field="*{genres}" multiple id="genre">
            <option th:each="genre : ${all_genres}" th:value="${genre.id}" th:text="${genre.name}"></option>
          </select>
        </div>
        <div class="validation_error" th:if="${#fields.hasErrors('genres')}" th:errors="*{genres}"></div>
        <div>
          <label for="author">Authors</label>
          <select role="combobox" th:field="*{authors}" multiple id="author">
            <option th:each="author : ${all_authors}" th:value="${author.id}" th:text="${author.name}"></option>
          </select>
        </div>
        <div class="validation_error" th:if="${#fields.hasErrors('authors')}" th:errors="*{authors}"></div>
        <div class="submit">
          <button type="submit" name="save">Add</button>
        </div>
      </fieldset>
    </form>

    <div class="booklist">
      <h2>Book list</h2> 
      <form th:action="@{/books}">
        <select th:name="author_id">
          <option th:text="all" th:value="null"></option>
          <option th:each="author : ${all_authors}" th:text="${author.name}" th:value="${author.id}"></option>
        </select>
        <select th:name="genre_id">
          <option th:text="all" th:value="null"></option>
          <option th:each="gnr : ${all_genres}" th:text="${gnr.name}" th:value="${gnr.id}"></option>
        </select>
        <button type="submit" name="filter">Add</button>
      </form>
      <table>
        <thead>
          <tr>
            <th>Cover</th>
            <th>Title</th>
            <th>Authors</th>
            <th>Genres</th>
            <th>Operations</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="booki : ${books}">
            <td>
              <img alt="book logo" title="book logo" 
                th:src="@{'/books/cover/'+ ${booki.id}}" style="width: 100px;"/>
            </td>
            <td th:text="${booki.title}"></td>
            <td>
              <table>
                <tr th:each="author : ${booki.authors}">
                  <td th:text="${author.name}"></td>
                </tr>
              </table>
            </td>
            <td>
              <table>
                <tr th:each="genre : ${booki.genres}">
                  <td th:text="${genre.name}"></td>
                </tr>
              </table>
            </td>
            <td>
              <a th:href="@{'/books/delete/' + ${booki.id}}">Delete</a>
              <a th:href="@{'/books/modify/' + ${booki.id}}">Modify</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
