<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Main</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
    </head>
  <body>
    <header>
      <div>
        <img alt="Bookshelf logo" th:src="@{/images/books2.jpg}"/>
      </div>
      <div id="bookshelf">
        <h1>BOOKSHELF</h1>
        <form th:action="@{/books}"><button>Books</button></form>
        <form th:action="@{/authors}"><button>Authors</button></form>
        <form th:action="@{/genres}"><button>Genres</button></form>
      </div>
    </header>
    <form th:object="${mod_author}" method="POST" th:action="@{'/authors/update/'+${mod_author.id}}">
      <h2>Add new author</h2>
      <fieldset>
        <legend>New author</legend>
        <div>
          <label for="name">Name</label>
          <input id="name" type="text" th:field="*{name}" th:value="*{name}"/>
        </div>
        <div class="validation_error" th:if="${#fields.hasErrors('name')}", th:errors="*{name}"></div>
        <div>
          <label for="birhtday">Birthday</label>
          <input id="birhtday" type="date" th:field="*{birthDay}" th:value="*{birthDay}"/>
        </div>
        <div class="validation_error" th:if="${#fields.hasErrors('birthDay')}", th:errors="*{birthDay}"></div>
        <div class="submit">
          <button type="submit" name="save">Modify</button>
        </div>
      </fieldset>
    </form>
  </body>
</html>
